.category-filter {
  text-align: center;
  margin: 20px 0;
}

.category-filter button {
  padding: 10px 20px;
  margin: 10px;
  background-color: white;
  color: rgb(0, 0, 0);
  border: 1px solid black;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.category-filter button:hover {
  background-color: #ff280f;
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Always 4 columns */
  gap: 20px;
  padding: 20px;
}
